.site-header .wrapper {
    background: #000 url('/images/dsg-800.jpg') no-repeat right -20px;
    height: 77px;
}

.site-title {
    float: right;
    height: 70px;
    margin-right: -27px;
    text-indent: -999px;
    width: 430px;
}

